In [2]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [3]:
educación = pd.read_csv('../Elegidos-educacion/Porcentaje de hombres y mujeres graduados en educación superior en la UE. CNED-2014.csv', sep=';')
educación.head()

  Países     Sexo  Periodo Total
0  UE-28  Hombres     2020    ..
1  UE-28  Hombres     2019  45,9
2  UE-28  Hombres     2018  45,9
3  UE-28  Hombres     2017    46
4  UE-28  Hombres     2016    46

In [4]:
educación.shape

(420, 4)

In [5]:
educación.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Países   420 non-null    object
 1   Sexo     420 non-null    object
 2   Periodo  420 non-null    int64
 3   Total    420 non-null    object
dtypes: int64(1), object(3)
memory usage: 13.3+ KB

In [6]:
educación['Total'].unique()

array(['..', '45,9', '46', '54,1', '54', '46,3', '46,2', '53,7', '53,8',
       '44', '43,9', '44,4', '44,3', '44,1', '56', '56,1', '55,6', '55,7',
       '55,9', '46,1', '45,4', '45,7', '53,9', '54,6', '54,3', '43',
       '42,9', '42,6', '42,7', '57', '57,1', '57,4', '57,3', '43,1',
       '43,3', '43,5', '43,6', '56,9', '56,7', '56,5', '56,4', '50,8',
       '51,5', '51,2', '51,8', '52,1', '52,6', '49,2', '48,5', '48,8',
       '48,2', '47,9', '47,4', '41,3', '41,2', '41,4', '58,7', '58,8',
       '58,6', '46,7', '47,6', '48', '48,4', '49,5', '53,3', '52,4', '52',
       '51,6', '50,5', '50,6', '51,3', '51,4', '49,4', '48,7', '48,6',
       '46,4', '46,9', '53,6', '53,1', '45,1', '45,5', '45,6', '54,9',
       '54,5', '54,4', '42,8', '43,2', '57,2', '56,8', '44,2', '44,5',
       '43,7', '55,8', '55,5', '56,3', '46,8', '45,3', '53,2', '54,7',
       '43,8', '41,9', '42,1', '40,9', '40,4', '42,5', '56,2', '58,1',
       '57,9', '59,1', '59,6', '57,5', '42,4', '57,6', '47,2', '48,1',
       '49,1', '49', '52,8', '51,9', '50,9', '51', '45,8', '44,8', '54,2',
       '55,2', '47,7', '52,3', '47,1', '47', '52,9', '53', '41', '40,5',
       '40,7', '40,6', '59', '59,5', '59,3', '59,4', '46,5', '53,5',
       '41,8', '41,7', '58,2', '58,3', '41,5', '41,1', '40,8', '40,3',
       '58,5', '58,9', '59,2', '59,7', '39,8', '39,9', '60,2', '60,1'],
      dtype=object)

In [7]:
educación.isnull().sum()

Países     0
Sexo       0
Periodo    0
Total      0
dtype: int64

-------------------------------------------

In [8]:
graduadas = pd.read_csv('../Elegidos-empleos/Mujeres graduadas en educación superior por campo de estudio. España y UE-28. CNED-2014.csv', sep=';')

In [10]:
graduadas.head()

  Campo de estudio  Países  Periodo Total
0     01 Educación  España     2020   8,8
1     01 Educación  España     2019   8,6
2     01 Educación  España     2018     9
3     01 Educación  España     2017   8,9
4     01 Educación  España     2016     9

In [11]:
graduadas.shape

(210, 4)

In [12]:
graduadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Campo de estudio  210 non-null    object
 1   Países            210 non-null    object
 2   Periodo           210 non-null    int64
 3   Total             210 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.7+ KB

In [13]:
graduadas.isna().sum()

Campo de estudio    0
Países              0
Periodo             0
Total               0
dtype: int64

---------------------------------

In [14]:
salario_anual = pd.read_csv('../Elegidos-salarios/Salario anual medio, mediano, modal, a tiempo completo y a tiempo parcial, por periodo..csv', sep=';')
salario_anual.head()

               Salario anual Sexo/Brecha de género  Periodo      Total
0  Salario a tiempo completo               Mujeres     2021  28.185,85
1  Salario a tiempo completo               Mujeres     2020  27.466,76
2  Salario a tiempo completo               Mujeres     2019  26.939,88
3  Salario a tiempo completo               Mujeres     2018  26.274,06
4  Salario a tiempo completo               Mujeres     2017  25.416,75

In [17]:
salario_anual.shape

(195, 4)

In [19]:
salario_anual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Salario anual          195 non-null    object
 1   Sexo/Brecha de género  195 non-null    object
 2   Periodo                195 non-null    int64
 3   Total                  195 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.2+ KB

In [18]:
salario_anual.isnull().sum()

Salario anual            0
Sexo/Brecha de género    0
Periodo                  0
Total                    0
dtype: int64

------------------

In [15]:
salario_hora = pd.read_csv('../Elegidos-salarios/Salario por hora por tipo de jornada y periodo..csv', sep=';')
salario_hora.head()

  Tipo de jornada Sexo/Brecha de género  Periodo Total
0           Total               Mujeres     2021  15,6
1           Total               Mujeres     2020  15,2
2           Total               Mujeres     2019  14,9
3           Total               Mujeres     2018  11,2
4           Total               Mujeres     2017  13,9

In [25]:
salario_hora.shape

(117, 4)

In [26]:
salario_hora.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Tipo de jornada        117 non-null    object
 1   Sexo/Brecha de género  117 non-null    object
 2   Periodo                117 non-null    int64
 3   Total                  117 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.8+ KB

In [28]:
salario_hora.isnull().sum()

Tipo de jornada          0
Sexo/Brecha de género    0
Periodo                  0
Total                    0
dtype: int64

------------------

In [16]:
brecha_gender_empleo = pd.read_csv('../Elegidos-tasa-empleo/Brecha de género en las tasas de empleo según edad en la UE y periodo.csv', sep=';')
brecha_gender_empleo.head()

      Países   Grupos de edad  Periodo Total
0  UE27_2020  De 15 a 64 años     2023   9,3
1  UE27_2020  De 15 a 64 años     2022   9,8
2  UE27_2020  De 15 a 64 años     2021    10
3  UE27_2020  De 15 a 64 años     2020  10,1
4  UE27_2020  De 15 a 64 años     2019  10,3

In [32]:
brecha_gender_empleo.shape

(1650, 4)

In [33]:
brecha_gender_empleo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Países          1650 non-null   object
 1   Grupos de edad  1650 non-null   object
 2   Periodo         1650 non-null   int64
 3   Total           1648 non-null   object
dtypes: int64(1), object(3)
memory usage: 51.7+ KB

In [34]:
brecha_gender_empleo.isnull().sum()

Países            0
Grupos de edad    0
Periodo           0
Total             2
dtype: int64

-------------------

In [17]:
empleo_educacion = pd.read_csv('../Elegidos-tasa-empleo/Tasa de empleo según niveles de educación en la UE (de 20 a 64 años) y periodo.csv', sep = ';')
empleo_educacion.head()

,Países,Sexo/Brecha de género,Niveles de educación,Periodo,Total
0,UE27_2020,Mujeres,"Preescolar, primaria y secundaria 1ª etapa (ni...",2023,"46,8"
1,UE27_2020,Mujeres,"Preescolar, primaria y secundaria 1ª etapa (ni...",2022,"45,6"
2,UE27_2020,Mujeres,"Preescolar, primaria y secundaria 1ª etapa (ni...",2021,"43,5"
3,UE27_2020,Mujeres,"Preescolar, primaria y secundaria 1ª etapa (ni...",2020,"43,4"
4,UE27_2020,Mujeres,"Preescolar, primaria y secundaria 1ª etapa (ni...",2019,"44,4"

In [41]:
empleo_educacion.shape

(2970, 5)

In [42]:
empleo_educacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2970 entries, 0 to 2969
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Países                 2970 non-null   object
 1   Sexo/Brecha de género  2970 non-null   object
 2   Niveles de educación   2970 non-null   object
 3   Periodo                2970 non-null   int64
 4   Total                  2970 non-null   object
dtypes: int64(1), object(4)
memory usage: 116.1+ KB

In [43]:
empleo_educacion.isnull().sum()

Países                   0
Sexo/Brecha de género    0
Niveles de educación     0
Periodo                  0
Total                    0
dtype: int64

-----------------

In [18]:
paro_educacion = pd.read_csv('../Elegidos-tasa-paro/Tasa de paro según niveles de educación y grupos de edad en la UE.csv', sep = ';')
paro_educacion.head()

,Sexo,Países,Niveles de educación,Grupos de edad,Periodo,Total
0,Mujeres,UE27_2020,"Preescolar, primaria y secundaria 1ª etapa (ni...",De 15 a 24 años,2023,"19,4"
1,Mujeres,UE27_2020,"Preescolar, primaria y secundaria 1ª etapa (ni...",De 15 a 24 años,2022,"20,1"
2,Mujeres,UE27_2020,"Preescolar, primaria y secundaria 1ª etapa (ni...",De 15 a 24 años,2021,"24,1"
3,Mujeres,UE27_2020,"Preescolar, primaria y secundaria 1ª etapa (ni...",De 15 a 24 años,2020,"23,3"
4,Mujeres,UE27_2020,"Preescolar, primaria y secundaria 1ª etapa (ni...",De 15 a 24 años,2019,"21,3"

In [46]:
paro_educacion.shape

(10800, 6)

In [47]:
paro_educacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Sexo                  10800 non-null  object
 1   Países                10800 non-null  object
 2   Niveles de educación  10800 non-null  object
 3   Grupos de edad        10800 non-null  object
 4   Periodo               10800 non-null  int64
 5   Total                 10800 non-null  object
dtypes: int64(1), object(5)
memory usage: 506.4+ KB

In [48]:
paro_educacion.isnull().sum()

Sexo                    0
Países                  0
Niveles de educación    0
Grupos de edad          0
Periodo                 0
Total                   0
dtype: int64

-------------

In [19]:
paro_brecha_gender = pd.read_csv('../Elegidos-tasa-paro/Tasa de paro y brecha de género (De 15 a 74 años) según periodo en la UE.csv', sep = ';')
paro_brecha_gender.head()

      Países Sexo/Brecha de género  Periodo Total
0  UE27_2020               Mujeres     2023   6,3
1  UE27_2020               Mujeres     2022   6,5
2  UE27_2020               Mujeres     2021   7,4
3  UE27_2020               Mujeres     2020   7,6
4  UE27_2020               Mujeres     2019   7,2

In [54]:
paro_brecha_gender.shape

(1350, 4)

In [55]:
paro_brecha_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Países                 1350 non-null   object
 1   Sexo/Brecha de género  1350 non-null   object
 2   Periodo                1350 non-null   int64
 3   Total                  1350 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.3+ KB

In [57]:
paro_brecha_gender.isnull().sum()

Países                   0
Sexo/Brecha de género    0
Periodo                  0
Total                    0
dtype: int64

--------------------

# UNIÓN DE LOS DATAFRAMES

In [58]:
total_paro = pd.concat([paro_educacion, paro_brecha_gender], axis=1)
total_paro.head()

,Sexo,Países,Niveles de educación,Grupos de edad,Periodo,Total,Países,Sexo/Brecha de género,Periodo,Total
0,Mujeres,UE27_2020,"Preescolar, primaria y secundaria 1ª etapa (ni...",De 15 a 24 años,2023,"19,4",UE27_2020,Mujeres,2023.0,"6,3"
1,Mujeres,UE27_2020,"Preescolar, primaria y secundaria 1ª etapa (ni...",De 15 a 24 años,2022,"20,1",UE27_2020,Mujeres,2022.0,"6,5"
2,Mujeres,UE27_2020,"Preescolar, primaria y secundaria 1ª etapa (ni...",De 15 a 24 años,2021,"24,1",UE27_2020,Mujeres,2021.0,"7,4"
3,Mujeres,UE27_2020,"Preescolar, primaria y secundaria 1ª etapa (ni...",De 15 a 24 años,2020,"23,3",UE27_2020,Mujeres,2020.0,"7,6"
4,Mujeres,UE27_2020,"Preescolar, primaria y secundaria 1ª etapa (ni...",De 15 a 24 años,2019,"21,3",UE27_2020,Mujeres,2019.0,"7,2"

In [63]:
total_paro['Periodo'] = total_paro['Periodo'].astype('Int64')

------------

In [59]:
total_empleo = pd.concat([brecha_gender_empleo, empleo_educacion], axis=1)
total_empleo.head()

,Países,Grupos de edad,Periodo,Total,Países,Sexo/Brecha de género,Niveles de educación,Periodo,Total
0,UE27_2020,De 15 a 64 años,2023.0,"9,3",UE27_2020,Mujeres,"Preescolar, primaria y secundaria 1ª etapa (ni...",2023,"46,8"
1,UE27_2020,De 15 a 64 años,2022.0,"9,8",UE27_2020,Mujeres,"Preescolar, primaria y secundaria 1ª etapa (ni...",2022,"45,6"
2,UE27_2020,De 15 a 64 años,2021.0,10,UE27_2020,Mujeres,"Preescolar, primaria y secundaria 1ª etapa (ni...",2021,"43,5"
3,UE27_2020,De 15 a 64 años,2020.0,"10,1",UE27_2020,Mujeres,"Preescolar, primaria y secundaria 1ª etapa (ni...",2020,"43,4"
4,UE27_2020,De 15 a 64 años,2019.0,"10,3",UE27_2020,Mujeres,"Preescolar, primaria y secundaria 1ª etapa (ni...",2019,"44,4"

In [60]:
total_empleo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2970 entries, 0 to 2969
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Países                 1650 non-null   object
 1   Grupos de edad         1650 non-null   object
 2   Periodo                1650 non-null   float64
 3   Total                  1648 non-null   object
 4   Países                 2970 non-null   object
 5   Sexo/Brecha de género  2970 non-null   object
 6   Niveles de educación   2970 non-null   object
 7   Periodo                2970 non-null   int64
 8   Total                  2970 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 209.0+ KB

In [61]:
total_empleo['Periodo'] = total_empleo['Periodo'].astype('Int64')

In [62]:
total_empleo.head(1)

,Países,Grupos de edad,Periodo,Total,Países,Sexo/Brecha de género,Niveles de educación,Periodo,Total
0,UE27_2020,De 15 a 64 años,2023,"9,3",UE27_2020,Mujeres,"Preescolar, primaria y secundaria 1ª etapa (ni...",2023,"46,8"

----------------

In [64]:
total_salario = pd.concat([salario_anual, salario_hora], axis=1)
total_salario.head()

,Salario anual,Sexo/Brecha de género,Periodo,Total,Tipo de jornada,Sexo/Brecha de género,Periodo,Total
0,Salario a tiempo completo,Mujeres,2021,"28.185,85",Total,Mujeres,2021.0,"15,6"
1,Salario a tiempo completo,Mujeres,2020,"27.466,76",Total,Mujeres,2020.0,"15,2"
2,Salario a tiempo completo,Mujeres,2019,"26.939,88",Total,Mujeres,2019.0,"14,9"
3,Salario a tiempo completo,Mujeres,2018,"26.274,06",Total,Mujeres,2018.0,"11,2"
4,Salario a tiempo completo,Mujeres,2017,"25.416,75",Total,Mujeres,2017.0,"13,9"

In [65]:
total_salario['Periodo'] = total_salario['Periodo'].astype('Int64')